/**************************************************************
* Main Body and Text
***************************************************************/
body, p, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-align: left;
	color: #000000;
	font-weight: normal;
}

p {
	margin-left: 10px;
	margin-right: 10px;
}

.iText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	text-align: right;
	color: #efefef;
	font-weight: normal;
}

.alert {color:#FF0000; }
.normal {color:#000000; }
.scrollSpace {margin: 3px 0px 4px 10px;}

h1 {
	font-size: 14pt;
	color: #003366;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

h2 {
	color: #B5BDFB;
	font-size: 18pt;
	text-align: left;
	margin-left: 3px;
	font-weight: bold;
}

h3 {
	color: #B5BDFB;
	font-size: 12pt;
	text-align: left;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	text-decoration: none;
}

h4 {
	color: #003366;
	font-size: 12pt;
	text-align: left;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	text-decoration: underline;
}


/**************************************************************
* Links
***************************************************************/
a {
	color: BLUE;
	font-size: 10pt;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.navBar {
  font-size: 8pt;
  padding-left: 0px;
  padding-top: 0px;
  text-align: center;
  font-weight: normal;
  color: #003366;
}
a.navBar:hover {
  color: #919DF9;
  text-decoration: none;
}

.navLeft {
	font-family: Arial, Helvetica, sans-serif;
	color: #091D91;
	font-size: 8pt;
	text-align: left;
	font-weight: normal;
}
.navLeft:hover {
	color: #333333;
	text-decoration: none;
}

.navLeftT {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 9pt;
	text-align: left;
	font-weight: normal;
}
.navLeftT:hover {
	color: #333333;
	text-decoration: none;
}

.navRight {
	font-family: Arial, Helvetica, sans-serif;
	color: #091D91;
	font-size: 8pt;
	text-align: left;
	font-weight: normal;
}
.navRight:hover {
	color: #D6B316;
	text-decoration: none;
}

.titleBar {
	color: #B5BDFB;
	font-size: 12pt;
	text-align: left;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.titleBar:hover {
	color: #003366;
	text-decoration: none;
}

.copyright {
	color: #000000;
	font-size: 8pt;
	text-align: center;
}

.picLink {
	font-size: 8pt;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: normal;
}

.tblLink {
	color: #003366;
	text-align: left;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	display: block; width: 100%;
}
.tblLink:hover {
	background:#C9D0FC;
	color: #003366;
	text-decoration: none;
}

/**************************************************************
* Misc. Formating  
***************************************************************/
.dropList {
	font-size: 9pt;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
}

.linkList {
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: blue;
}

.thumbs {      border: 1px solid white; }
.thumbsHover { border: 1px solid red; }

.formTitle {
  font-size: 8pt;
  text-align: right;
  padding-left: 0px;
  padding-right: 0px;
}

.formTitleLeft {
  font-size: 8pt;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

.formDetail {
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:10px;
	border:1px solid #999999;
	padding-left:0px;
	padding-right:0px;
}

.sDetails{
	FONT-SIZE: 12px;
	MARGIN:5px 5px 5px 5px;
}

.buttons{
	background-color:#294099;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#FFFFFF;
	border-top:#455cb6 2px solid;
	border-left:#455cb6 2px solid;
	border-bottom:#152c83 1px solid;
	border-right:#152c83 1px solid;
}

.navDiv{
	font-size: 9pt;
	color: #003366;
	position:relative;
	height:15px;
	width:730px;
	top:0px;
	left:0px;
	background-color: #F4E49B;
	vertical-align:text-top;
 }
